body
{
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
html
{
  overflow-y: auto;
  scroll-behavior: smooth;
}
.center
{
  margin: auto;
  text-align: center;
}
header
{
    background-image: url("../Img/GameMobile.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 350px;
}
.p-2{
  padding: .5rem!important;
}
/*Parte do site Informações*/
#socialMedia a
{
  color: white;
  margin-left: 25px;
  margin-top: 10px;
}
#Jogos
{
  margin: 10%;
}
#Artes{
  margin-top:20%;
  margin-bottom: 20%;
}
.logo
{
  margin-bottom: 5%;
}
* {box-sizing:border-box;}
#Perfil{
  background: url("../Img/Miles\ pixel\ art.png") no-repeat;
  background-size: 100%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: background 2s;

}
#Perfil:hover
{
  background: url("../Img/IMG_20180430_203001_159.jpg");
  display: block;
  background-size: 100%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: background 2s;
}

.Info{
  margin-top: 10%;
}
#text, #text-2
{
  word-wrap: break-word;
  max-width:800px;
  margin-top: 150px;
  padding: 20px;
  color: rgb(255, 255, 255);
}
#text-2{
  margin-top: 0px;
}
/*Mudança Estilização de textos*/
#Skills
{
  margin-top:5%;
  margin-bottom: 20%;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: .9em;
  color: #ffffff;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  
}
#Skills img
{
  width:10%;
  border-radius: 20%;
}
h3,h2
{
  color: #ffffff;
  font-weight: bold;
}
h2
{
  margin-bottom: 20px;
}

/* Lista de Jogos parte de estilização do mesmo icons img e outros*/
#container{
  border-radius: 30px 30px 0px 30px;
  width: 320px;
  height: 280px;
  margin-top: 20px;
}
#container p{
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.projetoBackImage
{
  width: 100%;
  height: 900px;
  background: url("../Img/Gameficando o futuro.png") no-repeat; 
  background-size: 100%;
}

#text-project{
  background-color: rgba(255,255,255,.5);
  margin-top: 325px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: large;
}
#Games img
{
  padding: 10px;
  width: 100%;
}
#download
{
  margin-left: 80px;
}
#download a:hover
{
  filter:grayscale(2);
}
/* termina aqui jogos */
div{
display:block;
padding:0px;
}
#Contato
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  background:url(../Img/navbarNight.png) no-repeat;
}
#Contato a{
  color: white;
  text-decoration: none;
}
#Contato a:hover{
  color:#ff5233;
}
#Contato div{
  margin-top: 10%;
}
.contato
{
  display: flex;
  transition: top 0.3s;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.socialMedia a{
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
}
.contato li
{
  text-decoration: none;
  display: block;
  margin-top: 40px;
}
.contato li:last-child
{
  position: absolute;
  right: 0px;
}
/* Responsividade */
@media(max-width:800px)
{
  #text
  {
    word-wrap: break-word;
    max-width:600px;
    margin-left:2%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
  }
  header
  {
    background-image: url("../Img/GameMobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    padding: 350px;
    padding-top: 430px;
    padding-right: 0px;
    background-position: center;
    background-size: 100%;
  }

  .SobreMin
  {
    border-radius: 80%;
    width: 40%;
  }
  .text
  {
    width: 100%;
  }
  #text font{
    padding-top:50px;
  }
  #Skills p{
    font-size:1.5em;
    font-style: oblique;
  }
  #Skills img
  {
    width: 20%;
  }
  .projetoBackImage
  { 
    background-size: 200%;
  }
  #container
  {
    margin: 5%;
  }
  #navbar
  {
    margin-left: 20px;
  }
}