body
{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
html
{
  overflow-y: auto;
  scroll-behavior: smooth;
}
.center
{
  margin: auto;
  text-align: center;
}
#Home
{
    background: url("../Img/GameMobile.png") 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 350px;
}

.p-2{
  padding: .5rem!important;
}
/*Parte do site Informações*/
#socialMedia .iconify { width: 36px; height: 36px; }
#socialMedia a
{
  color: white;
  margin-left: 25px;
  margin-top: 10px;
}
#socialMedia a:hover
{
  filter:drop-shadow(0px 0px 2px white);
}
#Jogos
{
  padding: 5%;
}
#games img
{
  padding: 10px;
  border-radius: 25px;
}
#games a [src="./Img/Jogar.png"]:hover
{
  filter:drop-shadow(0px 0px 6px rgb(99, 252, 99));
}
#Artes{
  margin-top:20%;
  margin-bottom: 20%;
}
.logo
{
  margin-bottom: 5%;
}
* {box-sizing:border-box;}
#Perfil{
  background: url("../Img/Miles\ pixel\ art.png") no-repeat;

  background-size: 100%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: background 2s;

}
.Info{
  margin-top: 10%;
}
#text, #text-2
{
  word-wrap: break-word;
  align-self:center;
  color: rgb(255, 255, 255);
}
#text-2{
  max-width:880px;
  margin-top: 50px;
  padding: 80px;
}
/*Mudança Estilização de textos*/
#Skills
{
  margin-top:5%;
  margin-bottom: 20%;
  box-sizing: border-box;
  margin-top: 20px;
  font-size:1.2em;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top:20px ;
}
#Skills img
{
  width:10%;
  border-radius: 20%;
}
h3,h2
{
  color: #ffffff;
  font-weight: bold;
}
h2
{
  margin-bottom: 20px;
}

/* Lista de Jogos parte de estilização do mesmo icons img e outros*/
.projetoBackImage
{
  width: 100%;
  height: 900px;
  background: url("../Img/Gameficando o futuro.png") no-repeat; 
  background-size: 100%;
}

#text-project{
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 425px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: large;
}
/* termina aqui jogos */
div{
display:block;
padding:0px;
}
.contato
{
  background:url(../Img/navbarNight.png) no-repeat;
}
#Contato
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
}
#Contato a{
  color: white;
  text-decoration: none;
}
#Contato a:hover{
  filter:drop-shadow(0px 0px 2px white);
}
#Contato div{
  margin-top: 10px;
}
.contato
{
  display: flex;
  transition: top 0.3s;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.contato li
{
  text-decoration: none;
  display: block;
  margin-top: 40px;
}
.contato li:last-child
{
  position: absolute;
  right: 0px;
}
/* Responsividade */
@media(max-width:800px)
{
  #Home
  {
    background-image: url("../Img/GameMobile.png");
    padding-right: 0px;
    background-position: center;
    background-size: 90%;
  }
  #text
  {
    margin-bottom: 50px;    
  }
  .SobreMin
  {
    border-radius: 80%;
    width: 40%;
  }
  #Skills p{
    font-size:1.5em;
    font-style: oblique;
  }
  #Skills img
  {
    width: 20%;
  }
  #text-project{
    margin-top: 225px;
  }
  #container
  {
    margin: 5%;
  }
  #navbar
  {
    margin-left: 20px;
  }
}