body
{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
html
{
  overflow-y: auto;
  scroll-behavior: smooth;
}
.center
{
  margin: auto;
  text-align: center;
}
#Home
{
    background: url("../Img/GameMobile.png") 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 350px;
}

.p-2{
  padding: .5rem!important;
}
/*Parte do site Informações*/
#socialMedia .iconify { width: 36px; height: 36px; }
#socialMedia a
{
  color: white;
  margin-left: 25px;
  margin-top: 10px;
}
#socialMedia a:hover
{
  filter:drop-shadow(0px 0px 2px white);
}
#Jogos
{
  padding: 10%;
}
#games img
{
  padding: 5px;
  border-radius: 25px;
}
#games a [src="./Img/Jogar.png"]:hover
{
  filter:drop-shadow(0px 0px 6px rgb(99, 252, 99));
}
#Artes{
  margin:auto;
  margin-bottom: 20%;
}
.logo
{
  margin-bottom: 5%;
}
* {box-sizing:border-box;}
#Perfil{
  background: url("../Img/Miles\ pixel\ art.png");
  background-size: 100%;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin-top: 100px;
}
#text{
  margin-top: 45px;
  text-align: center;
}
#text_1{
  margin-top: 200px;
  padding-left: 30%;
  text-align: center;
  color: white;
  font-size: 18px;
}
#text_1 span{
  color: rgb(64, 253, 244);
  font-size: 20px;
  font-weight: bold;
  margin-left: 110px;
}
#text span{
  color: rgb(64, 253, 244);
  font-size: 60px;
  font-weight: bold;
  margin-right: 230px;
}
#text p
{
  word-wrap: break-word;
  color: rgb(255, 255, 255);
  padding-right: 35px;
  
}

/*Mudança Estilização de textos*/
#Skills
{
  margin-bottom: 10%;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: bolder;
}
#habilidades{
  text-align: center;
  display: inline;
  padding: 15px;
  margin-left:9%;
  background: #313131;
  width: 250px;
  height: auto;
  border: 2px solid white;
  border-radius: 0px 25px;
}
#habilidades h3{font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#habilidades p{
  margin-top: 20px;
  font-size: 16px;
}
hr{
  padding: 0;
  margin: 0;
  border: 1px solid white;
}
h3,h2
{
  color: #ffffff;
  font-weight: bold;
}
/* Lista de Jogos parte de estilização do mesmo icons img e outros*/
.projetoBackImage
{
  width: 100%;
  height: 900px;
  background: url("../Img/Gameficando o futuro.png") no-repeat; 
  background-size: 100%;
}

#text-project{
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 425px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: large;
}
/* termina aqui jogos */
div{
display:block;
padding:0px;
}
.contato
{
  background:url(../Img/navbarNight.png) no-repeat;
}
#Contato
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
}
#Contato a{
  color: white;
  text-decoration: none;
}
#Contato a:hover{
  filter:drop-shadow(0px 0px 2px white);
}
#Contato div{
  margin-top: 20px;
}
.contato
{
  display: flex;
  transition: top 0.3s;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.contato li
{
  text-decoration: none;
  display: block;
  margin-top: 40px;
}
.contato li:last-child
{
  position: absolute;
  right: 0px;
}
/* Responsividade */
@media(max-width:800px)
{
  #Home
  {
    background-image: url("../Img/GameMobile.png");
    padding-right: 0px;
    background-position: center;
    background-size: 90%;
  }
  .SobreMin
  {
    border-radius: 80%;
    width: 40%;
  }
  #habilidades{
    margin: 20px 25%;
  }
  #text-project{
    margin-top: 225px;
  }
  #container
  {
    margin: 5%;
  }
  #navbar
  {
    margin-left: 20px;
  }
  .projetoBackImage
  {
    height: 300px;
  }
  #text-project{
    margin-top: 25px;
  }
}