#navbar {
  display: flex;
  transition: top 0.1s;
  overflow: hidden;
}
#navbar button{
	padding: 0;
  border: none;
  outline:none;
}
#navbar img:hover
{
  filter:drop-shadow(0px 0px 4px white);
}
#navbar li:last-child{
  position: absolute;
  right: 0px;
}
#navbar li{
    text-decoration: none;
    display: block;
    padding: 5px 15px 0px 0px;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 10px;
}
ul{
  margin-block-start: 0px;
}

@media(max-width:800px)
{
  #navbar a {
  padding-left: 20px;
  }
  #navbar li:last-child{
  position: relative;
  margin-left: 0px;
}
}